/* css for the game Screen */
#titleLabel{
    -fx-text-fill: #ffffff;
}

#anchorPane {
    -fx-background-color: linear-gradient(to bottom, #242424, #666666);
}
#exitGameButton{
    -fx-background-color: #02b2ff;
    -fx-font-size: 25 px;
    -fx-font-weight: Normal;
}
#chronoText{
    -fx-text-fill: #02b2ff;
}

.button{
    -fx-background-color: #02b2ff;
    -fx-font-size: 25 px;
    -fx-font-weight: Normal;
}