#exitButton{
    -fx-background-color: #0f9cee;
    -fx-font-weight: bold
}
#replayButton{
    -fx-background-color: #0f9cee;
    -fx-font-weight: bold;
}
#anchorPane{
    -fx-background-color: linear-gradient(to bottom, #242424, #666666);

}